/* GENERAL */

:root {
  --BG: linear-gradient(180deg, rgba(246, 246, 248, 1) 25%, rgba(243, 243, 246, 1) 75%);
  --calc: #f1f1f4;
}

html {
  background: var(--BG);
  height: 100vh;
  overflow-y: hidden;
  font-family: 'Quicksand', sans-serif;
}

/* CALC BODY */
.container {
  margin: 5em auto;
  width: 355px;
  box-sizing: border-box;
  background: var(--calc);
  box-shadow: 25px 10px 35px -10px rgba(0, 0, 0, 0.1), -10px -5px 15px rgb(255, 255, 255);
  border-radius: 2em;
}

/* CALC BUTTONS */
button {
  height: 65px;
  width: 65px;
  font-size: 25px;
  margin: 10px;
  border-radius: 25px;
  box-shadow: 2px 5px 20px -10px rgba(0, 0, 0, 0.75), -10px -10px 15px -5px rgb(255, 255, 255);
  background-color: var(--calc);
  color: #88898f;
  transition: 0.35s ease-in-out;
}

.row {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
}
.equal-row {
  display: flex;
  justify-content: center;
}

#equal {
  height: 87%;
}

.fn {
  color: #3e97e9;
}

/* CALC DISPLAY */
.display {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  padding: 1em;
  text-align: right;
  background-color: var(--calc);
  position: relative;
  top: 35px;
  width: 90%;
  height: 120px;
  border-radius: 1rem;
  box-sizing: border-box;
  font-size: 2em;
  box-shadow: inset 5px 5px 10px -10px rgba(0, 0, 0, 0.75),
    inset -6px -5px 5px -3px rgb(255, 255, 255);
}

/* operators active state */
.active {
  background-color: #3e97e9;
  color: var(--calc);
}

.banner {
  flex-grow: 1;
  background-image: url(https://images-na.ssl-images-amazon.com/images/I/81iYvi0usgL._AC_SL1345_.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.extra-functions {
  padding-left: 5px;
}
